#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        BASE {
            display-name = "Base";
            bindings = <
&kp Q                    &kp W                    &kp F                     &kp P                     &kp B                     &kp J                   &kp L                     &kp U                     &kp Y                      &kp SQT
&u_tapdelay_mt_A LGUI 0  &u_tapdelay_mt_R LALT 0  &u_tapdelay_mt_S LCTRL 0  &u_tapdelay_mt_T LSHFT 0  &kp G                     &kp M                   &u_tapdelay_mt_N LSHFT 0  &u_tapdelay_mt_E LCTRL 0  &u_tapdelay_mt_I LALT 0    &u_tapdelay_mt_O LGUI 0
&u_tapdelay_lt_Z 3 0     &u_tapdelay_mt_X RALT 0  &kp C                     &kp D                     &kp V                     &kp K                   &kp H                     &kp COMMA                 &u_tapdelay_mt_DOT RALT 0  &u_tapdelay_lt_SLASH 3 0
                                                  &u_tapdelay_lt_ESC 9 0    &u_tapdelay_lt_SPACE 7 0  &u_tapdelay_lt_TAB 8 0    &u_tapdelay_lt_RET 5 0  &u_tapdelay_lt_BSPC 4 0   &u_tapdelay_lt_DEL 6 0
            >;
        };

        EXTRA {
            display-name = "Extra";
            bindings = <
&kp Q                    &kp W                    &kp E                     &kp R                     &kp T                     &kp Y                   &kp U                     &kp I                     &kp O                      &kp P
&u_tapdelay_mt_A LGUI 0  &u_tapdelay_mt_S LALT 0  &u_tapdelay_mt_D LCTRL 0  &u_tapdelay_mt_F LSHFT 0  &kp G                     &kp H                   &u_tapdelay_mt_J LSHFT 0  &u_tapdelay_mt_K LCTRL 0  &u_tapdelay_mt_L LALT 0    &u_tapdelay_mt_SQT LGUI 0
&u_tapdelay_lt_Z 3 0     &u_tapdelay_mt_X RALT 0  &kp C                     &kp V                     &kp B                     &kp N                   &kp M                     &kp COMMA                 &u_tapdelay_mt_DOT RALT 0  &u_tapdelay_lt_SLASH 3 0
                                                  &u_tapdelay_lt_DEL 9 0    &u_tapdelay_lt_BSPC 7 0   &u_tapdelay_lt_RET 8 0    &u_tapdelay_lt_TAB 5 0  &u_tapdelay_lt_SPACE 4 0  &u_tapdelay_lt_ESC 6 0
            >;
        };

        TAP {
            display-name = "Tap";
            bindings = <
&kp Q  &kp W  &kp F    &kp P     &kp B      &kp J    &kp L      &kp U      &kp Y    &kp SQT
&kp A  &kp R  &kp S    &kp T     &kp G      &kp M    &kp N      &kp E      &kp I    &kp O
&kp Z  &kp X  &kp C    &kp D     &kp V      &kp K    &kp H      &kp COMMA  &kp DOT  &kp SLASH
              &kp DEL  &kp BSPC  &kp RET    &kp TAB  &kp SPACE  &kp ESC
            >;
        };

        BUTTON {
            display-name = "Button";
            bindings = <
&kp LG(Z)  &kp LG(X)  &kp LG(C)  &kp LG(V)  &kp LS(LG(Z))    &kp LS(LG(Z))  &kp LG(V)  &kp LG(C)  &kp LG(X)  &kp LG(Z)
&kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT  &none            &none          &kp LSHFT  &kp LCTRL  &kp LALT   &kp LGUI
&kp LG(Z)  &kp LG(X)  &kp LG(C)  &kp LG(V)  &kp LS(LG(Z))    &kp LS(LG(Z))  &kp LG(V)  &kp LG(C)  &kp LG(X)  &kp LG(Z)
                      &mkp MB3   &mkp MB1   &mkp MB2         &mkp MB2       &mkp MB1   &mkp MB3
            >;
        };

        NAV {
            display-name = "Nav";
            bindings = <
&kp PG_UP  &kp HOME   &kp UP     &kp END    &kp INS          &none  &u_to_U_BASE  &u_to_U_EXTRA  &u_to_U_TAP  &soft_off
&kp PG_DN  &kp LEFT   &kp DOWN   &kp RIGHT  &u_caps_word     &none  &kp LSHFT     &kp LCTRL      &kp LALT     &kp LGUI
&kp LG(Z)  &kp LG(X)  &kp LG(C)  &kp LG(V)  &kp LS(LG(Z))    &none  &u_to_U_NAV   &u_to_U_NUM    &kp RALT     &none
                      &kp K_APP  &kp SPACE  &kp TAB          &none  &none         &none
            >;
        };

        MOUSE {
            display-name = "Mouse";
            bindings = <
&msc SCRL_UP    &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT  &none            &none  &u_to_U_BASE   &u_to_U_EXTRA  &u_to_U_TAP  &soft_off
&msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none            &none  &kp LSHFT      &kp LCTRL      &kp LALT     &kp LGUI
&kp LG(Z)       &kp LG(X)       &kp LG(C)       &kp LG(V)        &kp LS(LG(Z))    &none  &u_to_U_MOUSE  &u_to_U_SYM    &kp RALT     &none
                                &mkp MB3        &mkp MB1         &mkp MB2         &none  &none          &none
            >;
        };

        MEDIA {
            display-name = "Media";
            bindings = <
&rgb_ug RGB_HUI  &kp C_BRIGHTNESS_DEC  &kp C_VOL_UP  &kp C_BRIGHTNESS_INC  &rgb_ug RGB_TOG      &none  &u_to_U_BASE   &u_to_U_EXTRA  &u_to_U_TAP  &soft_off
&rgb_ug RGB_EFF  &kp C_PREV            &kp C_VOL_DN  &kp C_NEXT            &ext_power EP_TOG    &none  &kp LSHFT      &kp LCTRL      &kp LALT     &kp LGUI
&u_bt_sel_0      &u_bt_sel_1           &u_bt_sel_2   &u_bt_sel_3           &u_out_tog           &none  &u_to_U_MEDIA  &u_to_U_FUN    &kp RALT     &none
                                       &kp C_MUTE    &kp C_PP              &kp C_STOP           &none  &none          &none
            >;
        };

        NUM {
            display-name = "Num";
            bindings = <
&soft_off  &u_to_U_TAP  &u_to_U_EXTRA  &u_to_U_BASE  &none    &kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT
&kp LGUI   &kp LALT     &kp LCTRL      &kp LSHFT     &none    &kp EQUAL  &kp N4  &kp N5   &kp N6  &kp SEMI
&none      &kp RALT     &u_to_U_NAV    &u_to_U_NUM   &none    &kp BSLH   &kp N1  &kp N2   &kp N3  &kp GRAVE
                        &none          &none         &none    &kp MINUS  &kp N0  &kp DOT
            >;
        };

        SYM {
            display-name = "Sym";
            bindings = <
&soft_off  &u_to_U_TAP  &u_to_U_EXTRA  &u_to_U_BASE  &none    &kp LBRC   &kp AMPS  &kp ASTRK  &kp LPAR   &kp RBRC
&kp LGUI   &kp LALT     &kp LCTRL      &kp LSHFT     &none    &kp PLUS   &kp DLLR  &kp PRCNT  &kp CARET  &kp COLON
&none      &kp RALT     &u_to_U_MOUSE  &u_to_U_SYM   &none    &kp PIPE   &kp EXCL  &kp AT     &kp HASH   &kp TILDE
                        &none          &none         &none    &kp UNDER  &kp LPAR  &kp RPAR
            >;
        };

        FUN {
            display-name = "Fun";
            bindings = <
&u_bt_sel_4  &u_to_U_TAP  &u_to_U_EXTRA  &u_to_U_BASE  &none    &kp PSCRN        &kp F7    &kp F8   &kp F9  &kp F12
&kp LGUI     &kp LALT     &kp LCTRL      &kp LSHFT     &none    &kp SLCK         &kp F4    &kp F5   &kp F6  &kp F11
&none        &kp RALT     &u_to_U_MEDIA  &u_to_U_FUN   &none    &kp PAUSE_BREAK  &kp F1    &kp F2   &kp F3  &kp F10
                          &none          &none         &none    &kp RET          &kp BSPC  &kp DEL
            >;
        };
    };
};

/ {
    macros {
        u_macro_u_bt_sel_0: u_macro_u_bt_sel_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            bindings = <&bt BT_SEL 0 &bt BT_CLR>;
        };
    };
};

/ {
    behaviors {
        lpar_lt: lpar_lt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        rpar_gt: rpar_gt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

/ {
    behaviors {
        u_bt_sel_0: u_bt_sel_0 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&u_macro_u_bt_sel_0>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

/ {
    macros {
        u_macro_u_bt_sel_1: u_macro_u_bt_sel_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            bindings = <&bt BT_SEL 1 &bt BT_CLR>;
        };
    };
};

/ {
    behaviors {
        u_bt_sel_1: u_bt_sel_1 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&u_macro_u_bt_sel_1>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

/ {
    macros {
        u_macro_u_bt_sel_2: u_macro_u_bt_sel_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            bindings = <&bt BT_SEL 2 &bt BT_CLR>;
        };
    };
};

/ {
    behaviors {
        u_bt_sel_2: u_bt_sel_2 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&u_macro_u_bt_sel_2>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

/ {
    macros {
        u_macro_u_bt_sel_3: u_macro_u_bt_sel_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            bindings = <&bt BT_SEL 3 &bt BT_CLR>;
        };
    };
};

/ {
    behaviors {
        u_bt_sel_3: u_bt_sel_3 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3>, <&u_macro_u_bt_sel_3>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

/ {
    macros {
        u_macro_u_bt_sel_4: u_macro_u_bt_sel_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            bindings = <&bt BT_SEL 4 &bt BT_CLR>;
        };
    };
};

/ {
    behaviors {
        u_bt_sel_4: u_bt_sel_4 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 4>, <&u_macro_u_bt_sel_4>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

/ {
    behaviors {
        u_out_tog: u_out_tog {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&out OUT_TOG>, <&out OUT_USB>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

/ {
    behaviors {
        u_caps_word: u_caps_word {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&caps_word>, <&kp CAPS>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

/ {
    behaviors {
        u_to_U_BASE: u_to_U_BASE {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 0>;
        };
    };
};

/ {
    behaviors {
        u_to_U_EXTRA: u_to_U_EXTRA {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 1>;
        };
    };
};

/ {
    behaviors {
        u_to_U_TAP: u_to_U_TAP {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 2>;
        };
    };
};

/ {
    behaviors {
        u_to_U_BUTTON: u_to_U_BUTTON {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 3>;
        };
    };
};

/ {
    behaviors {
        u_to_U_NAV: u_to_U_NAV {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 4>;
        };
    };
};

/ {
    behaviors {
        u_to_U_MOUSE: u_to_U_MOUSE {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 5>;
        };
    };
};

/ {
    behaviors {
        u_to_U_MEDIA: u_to_U_MEDIA {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 6>;
        };
    };
};

/ {
    behaviors {
        u_to_U_NUM: u_to_U_NUM {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 7>;
        };
    };
};

/ {
    behaviors {
        u_to_U_SYM: u_to_U_SYM {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 8>;
        };
    };
};

/ {
    behaviors {
        u_to_U_FUN: u_to_U_FUN {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&to 9>;
        };
    };
};

&mmv {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <1500>;
    delay-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        thumbcombos_U_BASE_LEFT {
            layers = <0>;
            key-positions = <31 32>;
            bindings = <&lt 9 ESC>;
            timeout-ms = <200>;
        };

        thumbcombos_U_EXTRA_LEFT {
            layers = <1>;
            key-positions = <31 32>;
            bindings = <&lt 9 ESC>;
            timeout-ms = <200>;
        };

        thumbcombos_U_BUTTON_LEFT {
            layers = <3>;
            key-positions = <31 32>;
            bindings = <&mkp MB3>;
            timeout-ms = <200>;
        };

        thumbcombos_U_NAV_LEFT {
            layers = <4>;
            key-positions = <31 32>;
            bindings = <&kp K_APP>;
            timeout-ms = <200>;
        };

        thumbcombos_U_MOUSE_LEFT {
            layers = <5>;
            key-positions = <31 32>;
            bindings = <&mkp MB3>;
            timeout-ms = <200>;
        };

        thumbcombos_U_MEDIA_LEFT {
            layers = <6>;
            key-positions = <31 32>;
            bindings = <&kp C_MUTE>;
            timeout-ms = <200>;
        };

        thumbcombos_U_BASE_RIGHT {
            layers = <0>;
            key-positions = <33 34>;
            bindings = <&lt 6 DEL>;
            timeout-ms = <200>;
        };

        thumbcombos_U_EXTRA_RIGHT {
            layers = <1>;
            key-positions = <33 34>;
            bindings = <&lt 6 DEL>;
            timeout-ms = <200>;
        };

        thumbcombos_U_BUTTON_RIGHT {
            layers = <3>;
            key-positions = <33 34>;
            bindings = <&mkp MB3>;
            timeout-ms = <200>;
        };

        thumbcombos_U_NUM_RIGHT {
            layers = <7>;
            key-positions = <33 34>;
            bindings = <&kp DOT>;
            timeout-ms = <200>;
        };

        thumbcombos_U_SYM_RIGHT {
            layers = <8>;
            key-positions = <33 34>;
            bindings = <&kp RPAR>;
            timeout-ms = <200>;
        };

        thumbcombos_U_FUN_RIGHT {
            layers = <9>;
            key-positions = <33 34>;
            bindings = <&kp DEL>;
            timeout-ms = <200>;
        };

        copy {
            bindings = <&c_c>;
            key-positions = <21 22>;
            layers = <0>;
        };

        paste {
            bindings = <&c_v>;
            key-positions = <23 22>;
            layers = <0>;
        };

        esc_combo {
            bindings = <&kp ESC>;
            key-positions = <2 1>;
            layers = <0>;
        };

        tab_combo {
            bindings = <&kp TAB>;
            key-positions = <3 2>;
            layers = <0>;
        };

        l_par {
            bindings = <&lpar_lt>;
            key-positions = <6 7>;
            layers = <0>;
        };

        r_par {
            bindings = <&rpar_gt>;
            key-positions = <7 8>;
            layers = <0>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_A: u_tapdelay_tap_A {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp A>, <&macro_release>, <&kp A>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_A: u_tapdelay_mt_A {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_A>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_A: u_tapdelay_lt_A {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_A>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_B: u_tapdelay_tap_B {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp B>, <&macro_release>, <&kp B>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_B: u_tapdelay_mt_B {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_B>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_B: u_tapdelay_lt_B {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_B>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_C: u_tapdelay_tap_C {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp C>, <&macro_release>, <&kp C>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_C: u_tapdelay_mt_C {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_C>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_C: u_tapdelay_lt_C {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_C>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_D: u_tapdelay_tap_D {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp D>, <&macro_release>, <&kp D>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_D: u_tapdelay_mt_D {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_D>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_D: u_tapdelay_lt_D {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_D>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_E: u_tapdelay_tap_E {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp E>, <&macro_release>, <&kp E>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_E: u_tapdelay_mt_E {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_E>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_E: u_tapdelay_lt_E {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_E>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_F: u_tapdelay_tap_F {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp F>, <&macro_release>, <&kp F>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_F: u_tapdelay_mt_F {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_F>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_F: u_tapdelay_lt_F {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_F>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_G: u_tapdelay_tap_G {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp G>, <&macro_release>, <&kp G>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_G: u_tapdelay_mt_G {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_G>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_G: u_tapdelay_lt_G {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_G>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_H: u_tapdelay_tap_H {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp H>, <&macro_release>, <&kp H>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_H: u_tapdelay_mt_H {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_H>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_H: u_tapdelay_lt_H {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_H>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_I: u_tapdelay_tap_I {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp I>, <&macro_release>, <&kp I>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_I: u_tapdelay_mt_I {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_I>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_I: u_tapdelay_lt_I {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_I>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_J: u_tapdelay_tap_J {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp J>, <&macro_release>, <&kp J>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_J: u_tapdelay_mt_J {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_J>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_J: u_tapdelay_lt_J {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_J>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_K: u_tapdelay_tap_K {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp K>, <&macro_release>, <&kp K>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_K: u_tapdelay_mt_K {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_K>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_K: u_tapdelay_lt_K {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_K>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_L: u_tapdelay_tap_L {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp L>, <&macro_release>, <&kp L>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_L: u_tapdelay_mt_L {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_L>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_L: u_tapdelay_lt_L {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_L>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_M: u_tapdelay_tap_M {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp M>, <&macro_release>, <&kp M>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_M: u_tapdelay_mt_M {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_M>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_M: u_tapdelay_lt_M {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_M>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_N: u_tapdelay_tap_N {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp N>, <&macro_release>, <&kp N>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_N: u_tapdelay_mt_N {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_N>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_N: u_tapdelay_lt_N {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_N>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_O: u_tapdelay_tap_O {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp O>, <&macro_release>, <&kp O>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_O: u_tapdelay_mt_O {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_O>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_O: u_tapdelay_lt_O {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_O>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_P: u_tapdelay_tap_P {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp P>, <&macro_release>, <&kp P>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_P: u_tapdelay_mt_P {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_P>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_P: u_tapdelay_lt_P {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_P>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_Q: u_tapdelay_tap_Q {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp Q>, <&macro_release>, <&kp Q>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_Q: u_tapdelay_mt_Q {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_Q>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_Q: u_tapdelay_lt_Q {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_Q>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_R: u_tapdelay_tap_R {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp R>, <&macro_release>, <&kp R>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_R: u_tapdelay_mt_R {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_R>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_R: u_tapdelay_lt_R {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_R>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_S: u_tapdelay_tap_S {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp S>, <&macro_release>, <&kp S>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_S: u_tapdelay_mt_S {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_S>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_S: u_tapdelay_lt_S {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_S>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_T: u_tapdelay_tap_T {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp T>, <&macro_release>, <&kp T>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_T: u_tapdelay_mt_T {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_T>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_T: u_tapdelay_lt_T {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_T>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_U: u_tapdelay_tap_U {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp U>, <&macro_release>, <&kp U>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_U: u_tapdelay_mt_U {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_U>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_U: u_tapdelay_lt_U {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_U>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_V: u_tapdelay_tap_V {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp V>, <&macro_release>, <&kp V>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_V: u_tapdelay_mt_V {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_V>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_V: u_tapdelay_lt_V {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_V>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_W: u_tapdelay_tap_W {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp W>, <&macro_release>, <&kp W>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_W: u_tapdelay_mt_W {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_W>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_W: u_tapdelay_lt_W {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_W>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_X: u_tapdelay_tap_X {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp X>, <&macro_release>, <&kp X>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_X: u_tapdelay_mt_X {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_X>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_X: u_tapdelay_lt_X {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_X>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_Y: u_tapdelay_tap_Y {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp Y>, <&macro_release>, <&kp Y>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_Y: u_tapdelay_mt_Y {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_Y>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_Y: u_tapdelay_lt_Y {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_Y>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_Z: u_tapdelay_tap_Z {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp Z>, <&macro_release>, <&kp Z>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_Z: u_tapdelay_mt_Z {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_Z>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_Z: u_tapdelay_lt_Z {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_Z>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_SQT: u_tapdelay_tap_SQT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp SQT>, <&macro_release>, <&kp SQT>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_SQT: u_tapdelay_mt_SQT {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_SQT>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_SQT: u_tapdelay_lt_SQT {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_SQT>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_COMMA: u_tapdelay_tap_COMMA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp COMMA>,
                <&macro_release>,
                <&kp COMMA>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_COMMA: u_tapdelay_mt_COMMA {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_COMMA>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_COMMA: u_tapdelay_lt_COMMA {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_COMMA>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_DOT: u_tapdelay_tap_DOT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp DOT>, <&macro_release>, <&kp DOT>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_DOT: u_tapdelay_mt_DOT {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_DOT>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_DOT: u_tapdelay_lt_DOT {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_DOT>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_SLASH: u_tapdelay_tap_SLASH {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp SLASH>,
                <&macro_release>,
                <&kp SLASH>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_SLASH: u_tapdelay_mt_SLASH {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_SLASH>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_SLASH: u_tapdelay_lt_SLASH {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_SLASH>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_ESC: u_tapdelay_tap_ESC {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp ESC>, <&macro_release>, <&kp ESC>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_ESC: u_tapdelay_mt_ESC {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_ESC>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_ESC: u_tapdelay_lt_ESC {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_ESC>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_SPACE: u_tapdelay_tap_SPACE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp SPACE>,
                <&macro_release>,
                <&kp SPACE>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_SPACE: u_tapdelay_mt_SPACE {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_SPACE>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_SPACE: u_tapdelay_lt_SPACE {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_SPACE>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_TAB: u_tapdelay_tap_TAB {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp TAB>, <&macro_release>, <&kp TAB>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_TAB: u_tapdelay_mt_TAB {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_TAB>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_TAB: u_tapdelay_lt_TAB {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_TAB>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_RET: u_tapdelay_tap_RET {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp RET>, <&macro_release>, <&kp RET>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_RET: u_tapdelay_mt_RET {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_RET>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_RET: u_tapdelay_lt_RET {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_RET>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_BSPC: u_tapdelay_tap_BSPC {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp BSPC>, <&macro_release>, <&kp BSPC>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_BSPC: u_tapdelay_mt_BSPC {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_BSPC>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_BSPC: u_tapdelay_lt_BSPC {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_BSPC>;
        };
    };
};

/ {
    macros {
        u_tapdelay_tap_DEL: u_tapdelay_tap_DEL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp DEL>, <&macro_release>, <&kp DEL>;
        };

        c_c: c_c {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(C)>;
            label = "C_C";
        };

        c_v: c_v {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(V)>;
            label = "C_V";
        };
    };
};

/ {
    behaviors {
        u_tapdelay_mt_DEL: u_tapdelay_mt_DEL {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&u_tapdelay_tap_DEL>;
        };
    };
};

/ {
    behaviors {
        u_tapdelay_lt_DEL: u_tapdelay_lt_DEL {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&u_tapdelay_tap_DEL>;
        };
    };
};
